package settings

import (
	"kzinthant-d3v/ai-image-generator/types"
	"kzinthant-d3v/ai-image-generator/view/layout"
)

templ Index(user types.AuthenticatedUser) {
	@layout.App(true)
	<div>Setting Page { user.Email }</div>
}
